##############################
## Java
##############################
##.mtj.tmp/
##*.class
##*.jar
##*.war
##*.ear
##*.nar
enlace_datos/classes/*
interfaz_usuario/classes/*
usacpl/classes/*
webServices/classes/*
interfaz_usuario/public_html/WEB-INF/temp/adf/images/cache/*
ApplicationUSACPL-data-sources.xml
ApplicationUSACPL-oc4j-app.log
ApplicationUSACPL-oc4j-app.xml
interfaz_usuario/interfaz_usuario.jpr
interfaz_usuario/src/META-INF/jazn-data.xml