##############################
## Java
##############################
##.mtj.tmp/
##*.class
##*.jar
##*.war
##*.ear
##*.nar
enlace_datos/classes/*
interfaz_usuario/classes/*
usacpl/classes/*
webServices/classes/*
interfaz_usuario/public_html/WEB-INF/temp/adf/images/cache/*